* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #338cf4;
}

.container {
  background-color: #ffffff;
  width: 90vmin;
  padding: 50px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 10px;
  box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

button {
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  outline: none;
  color: #020929;
}

button#saveTemplateButton {
  height: 35px;
  width: 91px;
  display: grid;
  place-items: center;
  border-radius: 7px;
  border: none;
  background-color: #338cf4;
  outline: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

button#saveTemplateButton:focus {
  background-color: #000000;
}

select {
  padding: 7px;
  border: 1px solid #020929;
  border-radius: 3px;
}

.button-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: -34px;
}
/*No function for Original Buttons, only for save templates*/
.original-button {
  height: 35px;
  min-width: 91px;
  display: grid;
  place-items: center;
  border-radius: 7px;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  cursor: pointer;
  background-color:lightseagreen;
  transition: background-color 0.2s ease-in-out;
}

.original-button:focus {
  background-color: #000000;
}


.options label,
.options select {
  font-family: "Poppins", sans-serif;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 28px;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

#text-input {
  margin-top: 10px;
  border: 1px solid #dddddd;
  padding: 20px;
  height: 50vh;
}

.active {
  background-color: #e0e9ff;
}
